<!DOCTYPE html>
<html>
<head>
    <title>Histórico de Agendamentos</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
    <h1>Histórico de Agendamentos</h1>
    <ul>
        {% for agendamento in agendamentos_semana %}
            <li>{{ agendamento.data.strftime('%d/%m/%Y') }} - {{ ', '.join(agendamento.servicos) }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Voltar</a>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
